@import url(sty.css);

*{margin: 0;}

body{
    overflow-x:hidden ;
    background-color: #130D16;
    background-image:  linear-gradient(rgba(19, 13, 22, 0.8), rgba(19, 13, 22, 0.8)), url(../Fotos/Fundo.png); 
}

.telaInicial{
    background-image: url(../Fotos/FotosIndie.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.telaInicial p{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}
.telaInicial p:nth-child(1){
    font-size: 10vw;
    letter-spacing: 2vh;
    width: auto;
    color: #EDFF1A ;
}

.telaInicial p:nth-child(2){
    color: #EDB6FF;
    letter-spacing: 0.4vh;
    font-size: 1.5vw;
}

.telaInicial button{
    width: 25vw;
    height: 9vh;
    margin-top: 5vw;
    border-radius: 10px;
    background-color: rgba(49, 24, 58, 0.2);
    border: 0.2px, solid, white;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2.5vw;
    letter-spacing: 0.1em;
    transition: 0.3s;
}

.telaInicial button:hover{
background-color: rgba(100, 100, 100, 0.6);
}

.maisRecentes{
    width: auto;
    height: 50vh;
    margin-left: 3vw;
}

.maisRecentes p:nth-child(1){
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #EDFF1A;
}

.organizarLadoALado{
    display: flex;
    width: auto;
    height: auto;
}

.musicaQuadro{
    background-color:rgba(48, 31, 58, 0.5);
    width: 16.5vw;
    height: 36vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    border-radius: 10px;
    margin-right: 4vw;
}

.musicaQuadro:hover{
    background-color:rgba(73, 47, 89, 0.5);
}

.musicaQuadro img{
    width: auto;
    height: 24vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border-radius: 5px;
}

.musicaQuadro p:nth-child(2){
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #ffffff;
    margin-bottom: 0.5vh;
}

.musicaQuadro p:nth-child(3){
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #ffffff;
    margin-left: -8vw;
}
