*{margin: 0;}

.negritoVermelho{
    color: red;
}


header{
    width: 100.1vw;
    height: 10vh;
    position: absolute;
    left: -0.1%;
    top: -0.1%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    display: flex;
    justify-content: space-around;
    z-index: 30;
}


.headerTexto {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #EDFF1A;
}

.headerDecorarTexto{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.headerDecorarTexto::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #EDFF1A;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.headerDecorarTexto:hover::after{
width: 100%;
}

.inicioPai{
     background-image: url(../Fotos/FotosIndie.jpg); 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.tituloInicial{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20vh;
    letter-spacing: 2vh;
    z-index: 1;
    width: auto;
    color: #EDFF1A ;
}

.subTituloInicial{
    color: aliceblue;
    letter-spacing: 0.8vh;
    font-size: 3vh;
}

body{
    overflow-x:hidden ;
    background-color: #121212;
}