@import url(sty.css);
*{margin: 0;}

body{
    overflow-x:hidden ;
    background-color: #130D16;
    background-image:  linear-gradient(rgba(19, 13, 22, 0.8), rgba(19, 13, 22, 0.8)), url(../Fotos/Fundo.png); 
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10vh; 
}

.musicaTudo{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10vh;
}

.parteDaDireita{
    width: 50vw;
    height: auto;
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImagemELinks{
    
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImagemELinks img:nth-child(1){
    width: 30vw;
    height: 55vh;
    border-radius: 20px;
}

.linksExternos{
    height: auto;
    width: 34vw;
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
}

.linksExternos p{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.6vh;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #ffffff ;
}

.musicasSimilares{
    margin-top: 4vh;
    width: 35vw;
    height: 30vh;
    
}

.musicasSimilares p:nth-child(1){
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5em;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #ffffff ;
    display: flex;
    justify-content: center;
    
}

.recomendaMusica{
    background-color: rgba(70, 51, 51, 0.4);
    display: flex;
    height: 15vh;
    align-items: center;
    border-radius:10px ;
    margin-bottom: 3vh ;
    transition: 1s;
}

.recomendaMusica:hover{
    background-color: rgba(108, 73, 73, 0.35);
}

.recomendaMusica img:nth-child(1) {
    width: 7vw;
    height: 13vh;
    margin-left: 2vw;
}

.tituloEArtistaRecomendado{
    margin-left: 1.6vw;
    margin-top:-2vw ;
}

.tituloEArtistaRecomendado p:nth-child(1){
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #ffffff ;
}

.tituloEArtistaRecomendado p:nth-child(2){
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    letter-spacing: 0.1;
    z-index: 1;
    width: auto;
    color: #ffffff ;
}

.parteDaEsquerda{
    margin-top: 2vh;
}

.tituloELetra{
    height: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vh;
    letter-spacing: 0.3vh;
    z-index: 1;
    width: 60vw;
    color: #EDFF1A ;
    display: flex;
    justify-content: flex-start;
    margin-left: 6vw;
    margin-bottom:5px;
}

.separarArtistaEBotao{
    display: flex;
    width: 45vw;
    height: auto;
    margin-left: 6vw;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
}

.artista{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.3vh;
    letter-spacing: 0.001em;
    z-index: 1;
    width: 20vw;
    color: #B261CD ;
    display: flex;
    justify-content: flex-start;
    
}

.organizarBotao{
    height: auto;
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.organizarBotao button{
    width: 8vw;
    height: 5vh;
    border-radius: 15px;
    border-width: 0.2px;
    border-color: #FBFBFB;
    background-color: rgba(68, 68, 68, 0.25);
    
    color: white;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.01vw;
    font-size: 2.5vh;
    transition: 1s;
}

.organizarBotao button:hover{
background-color: rgba(100, 100, 100, 0.6);
}

.letra{
    height: auto;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    margin-left: 6vw;
    margin-top: 3vh;
}

.letra p{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 3vh ;
    text-align: justify;
    margin: 5px; 
}

.significado{
    height: auto;
    width: 50vw;
    display: none;
    justify-content: flex-start;
    margin-left: 6vw;
    margin-top: 3vh;
}

.significado p{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 3vh ;
    text-align: justify;
    margin: 5px; 
}

.cifra{
    height: auto;
    width: 50vw;
    display: none;
    justify-content: flex-start;
    margin-left: 6vw;
    margin-top: 3vh;
}

.cifra p{
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 3vh ;
    text-align: justify;
    margin: 5px; 
}