*{margin: 0;}

header{
    width: 100.1vw;
    height: 10vh;
    position: absolute;
    left: -0.1%;
    top: -0.1%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    display: flex;
    justify-content: space-around;
    z-index: 30;
}

.headerTexto {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
    color: #ffffff;
}

.headerTexto a{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.headerTexto a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.1vh;
    background-color: #B261CD;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.headerTexto a:hover::after{
width: 100%;
}

@media (max-width: 766px){
    .headerTexto{
        font-size: 2vh;
    }
}